body{
    margin: 0%;
}

.main_container{
    position: fixed;
    top:0;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr; /* 3 equal columns */
    grid-template-rows: 1fr 8fr 1.5fr ;    /* 2 rows (100px and 200px tall) */
    gap: 10px; 
    height: 100dvh;
}

.head_container{
    grid-row: 1; 
    /* position: fixed;
    top:0;
    right: 0; */
    text-align: center;
    background-color: white;
    width: 100vw;
}

#messages_container{
    grid-row: 2;
    min-height: 0;
    /* max-height: 60%; */
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 3%;
}

.date{
    text-align: center;
    background-color: rgba(240, 208, 140, 0.507);
    margin-top: 4%;
}
.message_bubble{

    color:black;
    width: 90%;
    height: fit-content;
    border-radius:2px 10px;
    padding: 5px;
    margin-top: 10px;
}

.Necho{
    background-color: aqua;
}
.Penjani{
    background-color: blueviolet;
}
.Henry{
    background-color: rgb(255, 145, 0);
}

.bubble_p{
    margin: 0px;
}
.bubble_text{
    padding-left: 5px;
}

.name_tag{
    font-size: small;
}

.time_tag{
    font-size: small;
    text-align: end;
}
.entry_box{
    grid-column: 1;
    grid-row: 3;
    display: flex;
    flex-direction: row;
    width: 100vw;
    padding-left:10px;
    /* margin-bottom: 10%; */
    height:80%;
    margin-bottom:10px;
    padding-bottom: 10px;
    background-color: white;
}
#input_box{
    width: 80vw;
    height: 100%;
    border-radius:100rem 0 0 100rem;
}
#send_btn, #input_box{
    background-color: white;
}

#send_btn{
    width: 15vw;
    height: 100%;
    border-radius:0 100rem 100rem 0;
}